{{define "body"}}
<div id="main">
    <section class="content-full-width">
        <section class="fullwidth-background dt-sc-parallax-section turquoise-bg">
            <div class="container">
                <div class="dt-sc-one-half column first">
                    <h2>ABACUS Fingers</h2>
                    <div class="add-slider-wrapper">
                        <ul class="add-slider">
                            <li>
                                <iframe width="464" height="345"
                                        src="https://www.youtube.com/embed/fxGEkx-yrQI">
                                </iframe>
                            </li>
                            <li> <img src="/assets/abacus/images/children-world-ab.png" alt="" title=""> </li>
                        </ul>
                    </div>
                </div>
                <div class="dt-sc-one-half column">
                    <h2>Les maths sur le bout des doigts</h2>
                    <div class="dt-sc-one-half column first">
                        <div class="dt-sc-ico-content type2">
                            <a href="/cms/la-magie-des-doigts">
                                <div class="icon">
                                    <span class="fa fa-magic"> </span>
                                </div>
                                <h4 class="text-yellow">La Magie des doigts</h4>
                                <p>Abacus Fingers est un projet innovant qui vient en complément des méthodes traditionnelles...</p>
                            </a>
                        </div>
                        <div class="dt-sc-hr-very-small"></div>
                        <div class="dt-sc-ico-content type2">
                            <a href="/cms/gamification">
                                <div class="icon">
                                    <span class="fa fa-gamepad"> </span>
                                </div>
                                <h4 class="text-yellow">La GAMIFICATION - Apprenez en jouant</h4>
                                <p>
                                    Notre approche à travers notre plateforme est d’utiliser les codes des jeux vidéos...
                                </p>
                            </a>
                        </div>
                        <div class="dt-sc-hr-very-small"></div>
                        <div class="dt-sc-ico-content type2">
                            <a href="/cms/secret-de-la-methode">
                                <div class="icon">
                                    <span class="fa fa-key"> </span>
                                </div>
                                <h4 class="text-yellow">Le secret de la méthode</h4>
                                <p>
                                    Les neurosciences ont permis de démontrer que dans l’apprentissage, l’utilisation de plusieurs canaux sensoriels...
                                </p>
                            </a>
                        </div>
                    </div>

                    <div class="dt-sc-one-half column">
                        <div class="dt-sc-ico-content type2">
                                <a href="/cms/origine-de-la-methode">
                                <div class="icon">
                                    <span class="fa fa-certificate"> </span>
                                </div>
                                <h4 class="text-yellow">L’origine de la méthode</h4>
                                <p>En introduction, intéressons-nous au mot «CALCUL» qui vient du latin calculus (pluriel calculi)...</p>
                                </a>
                        </div>
                        <div class="dt-sc-ico-content type2">
                            <a href="/cms/histoire-des-abacus">
                            <div class="icon">
                                <span class="fa fa-book"> </span>
                            </div>
                            <h4 class="text-yellow">L’histoire des ABACUS</h4>
                            <p>La méthode ABACUS Fingers résulte d’une évolution de la méthode Japonaise qui utilise le SOROBAN...</p>
                            </a>
                        </div>
                        <div class="dt-sc-hr-very-small"></div>
                        <div class="dt-sc-hr-very-small"></div>
                        <div class="dt-sc-ico-content type2">
                            <a href="/cms/championnats-du-calcul-mental">
                            <div class="icon">
                                <span class="fa fa-users"> </span>
                            </div>
                            <h4 class="text-yellow">Les championnats et les figures du calcul mental</h4>
                            <p>Il existe différents championnats à travers le monde...</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="dt-sc-hr"></div>
        <div class="container">
            <h2 class="dt-sc-hr-green-title">↓ Vous pourrez réaliser ces calculs mentaux facilement ↓</h2>

            <div class="front-portfolio-container">
                <div class="portfolio-content portfolio-content1">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/fille.png" alt="chamion du calcul mental" title="chamion du calcul mental">
                                <div class="image-overlay">
                                    <h5><a href="#">Devenez un chamion du calcul mental</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-content portfolio-content2">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/classe.jpg" alt="Tout le monde peu le faire" title="Tout le monde peu le faire">
                                <div class="image-overlay">
                                    <h5><a href="#">Tout le monde peu le faire</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-content portfolio-content3">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/garcon.png" alt="juste une méthode" title="juste une méthode">
                                <div class="image-overlay">
                                    <h5><a href="#">C'est juste une méthode</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-content portfolio-content4">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/doigts.png" alt="pas à pas" title="pas à pas">
                                <div class="image-overlay">
                                    <h5><a href="#">Un accompagnement pas à pas</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-content portfolio-content5">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/jeu.png" alt="" title="">
                                <div class="image-overlay">
                                    <h5><a href="#">Un apprentissage par le jeu</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-content portfolio-content6">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/chrono.png" alt="pratique quotidienne" title="pratique quotidienne">
                                <div class="image-overlay">
                                    <h5><a href="#">Une pratique quotidienne</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-content portfolio-content7">
                    <div class="front-portfolio">
                        <div class="portfolio-outer">
                            <div class="portfolio-thumb">
                                <img src="/assets/abacus/images/responsiv.png" alt="" title="">
                                <div class="image-overlay">
                                    <h5><a href="#">Un accès facile et multi-support</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dt-sc-hr-small"></div>
                <div class="aligncenter">
                    <a href="#" class="dt-sc-button medium mustard"> Laissez vous tenter, les premières leçons sont GRATUITES ! <span class="fa fa-chevron-circle-right"> </span></a>
                </div>
            </div>
        </div>

        <div class="dt-sc-hr"></div>
        <section class="fullwidth-background dt-sc-parallax-section orange-bg">
            <div class="container">
                <h2 class="dt-sc-hr-white-title">Dernières actualités</h2>
                <div class="column dt-sc-one-half first">
                    <article class="blog-entry">
                        <div class="blog-entry-inner">
                            <div class="entry-meta">
                                <a href="#" class="blog-author"><img src="http://placehold.it/90x90" alt="" title=""></a>
                                <div class="date">
                                    <span> 27 </span>
                                    <p> Aug <br> 2019 </p>
                                </div>
                                <a href="#" class="comments">
                                    12 <span class="fa fa-comment"> </span>
                                </a>
                                <a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>
                            </div>
                            <div class="entry-thumb">
                                <a href="#"><img src="http://placehold.it/1170x711" alt="" title=""></a>
                            </div>
                            <div class="entry-details">
                                <div class="entry-title">
                                    <h3><a href="blog-detail.html"> Activities Improves Mind </a></h3>
                                </div>
                                <div class="entry-body">
                                    <p>Roin bibendum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accums.</p>
                                </div>
                                <a href="#" class="dt-sc-button small"> Lire l'article <span class="fa fa-chevron-circle-right"> </span></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column dt-sc-one-half">
                    <article class="blog-entry">
                        <div class="blog-entry-inner">
                            <div class="entry-meta">
                                <a href="#" class="blog-author"><img src="http://placehold.it/90x90" alt="" title=""></a>
                                <div class="date">
                                    <span> 27 </span>
                                    <p> Aug <br> 2019 </p>
                                </div>
                                <a href="#" class="comments">
                                    12 <span class="fa fa-comment"> </span>
                                </a>
                                <a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>
                            </div>
                            <div class="entry-thumb">
                                <a href="#"><img src="http://placehold.it/1170x711" alt="" title=""></a>
                            </div>
                            <div class="entry-details">
                                <div class="entry-title">
                                    <h3><a href="#"> Weekly Reader Zone </a></h3>
                                </div>
                                <div class="entry-body">
                                    <p>Iid venenatis nibh accums. Doinbibe ndum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accumsan...</p>
                                </div>
                                <a href="#" class="dt-sc-button small"> Lire l'article <span class="fa fa-chevron-circle-right"> </span></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </section>
</div>
{{end}}